:root {
	--ion-color-primary: #950f0f;
	--ion-color-primary-rgb: 149,15,15;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #830d0d;
	--ion-color-primary-tint: #a02727;
}